body {
	background: #f8f8fa;
	font-family: 'Open Sans', sans-serif;
	color: #73767c;
}

button {
	background: #ff4330;
	border: none;
	border-radius: 25px;
	padding: 5px;
	color: white;
	width: 200px;
	transition-duration: 0.4s;
}

button:hover {
	color: #ff4330;
	background: #f8f8fa;
	border: 1px solid #ff4330;
	box-sizing: border-box;
}

h3 {
	color: #30c9e9;
	margin: 50px;
}

h4 {
	color: #3c4a4d;
	margin-bottom: 20px;
}

.title {
	text-align: center;
	background: #30c9e9;
	height: 450px;
	padding-top: 90px;
	color: white;
}

.description {
	margin: 30px auto;
	font-style: italic;
	width: 30%;
}

.content {
	padding: 50px 100px 50px 100px;
}

.content > p, h3 {
	text-align: center;
}

.creators {
	background: #3c4a4d;
	color: #f8f8fa;
	padding: 20px;
}

.subsections {
	margin-top: 50px;
}

/*.section:nth-child(odd) {
	img {
		float: right;
	}
	
}

.section:nth-child(even) {
	img {
		float: left;
	}
	
}*/
